
*{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body {
    background-color: rgb(33, 34, 56);
}

.header{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 30px;
    background-color: rgb(13, 11, 24);

}

h1,h2,h3{
    color: white;
}

img {
    border-radius: 15px;
}

.playerChoices, .score, .choiceDisplay{
    width: 70%;
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}

.score{
    width: 90%;
}
.choiceDisplay{
    width: 77%;
}

.playerChoices{
    margin-top: 80px;
}

.card {
    min-width: 220px;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(204, 203, 203, 0.2);
    transition: 0.3s;
    color: white;
    background-color: rgb(14, 14, 14);
    border-radius: 15px;

  }

  .card:hover {
    box-shadow: 0 16px 16px 0 rgba(247, 247, 247, 0.2);
  }

  .cardText{
    font-weight: 800;
    font-size: 48;
    
  }

